.bodyyyy {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Hind Siliguri', sans-serif; 
}

.heightpage {
    min-height: 100vh;
}

.forgot-password-container {
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #55a155;
}

.down-container {
    padding: 30px 30px 20px 30px;
}

.forgot-password-logo {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #55a155;
    padding: 20px;
}

.forgot-password-logo img {
    max-width: 250px;
    height: auto;
}

::placeholder {
    font-family: 'Hind Siliguri', sans-serif !important;
}

.forgot-password-form input[type="email"] {
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

button {
    font-family: 'Hind Siliguri', sans-serif !important;
}

.forgot-password-form button[type="submit"] {
    width: 100%;
    font-size: 18px;
    padding: 12px;
    margin-top: 10px;
    background-color: #55a155; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-password-form button[type="submit"]:hover {
    background-color: #3c763d; 
}

.forgot-password-link {
    color: #55a155 !important;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    font-size: 15px;
}

.d-flex a:hover {
    color: #55a155;
}

@media (max-width: 991.98px) {
    .forgot-password-container {
        padding: 0 20px;
    }

    .down-container {
        padding: 20px;
    }
}

@media (max-width: 767.98px) {
    .down-container {
        padding: 20px 10px;
    }

    .forgot-password-form input[type="email"] {
        margin: 10px 0;
        padding: 8px;
    }

    .forgot-password-form button[type="submit"] {
        font-size: 16px;
        padding: 10px;
    }

    .forgot-password-link {
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {
    .forgot-password-container {
        padding: 5px;
        border: 2px solid #55a155;
        margin:10px;
    }

    .heightpage {
        min-height:90vh;
    }

    .down-container {
        padding: 15px;
    }

    .forgot-password-form input[type="email"] {
        margin: 8px 0;
        padding: 10px;
    }

    .forgot-password-form button[type="submit"] {
        font-size: 14px;
        padding: 14px;
    }

    .forgot-password-link {
        font-size: 14px;
    }
}
