body {
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
}

.heightpage {
    min-height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.down-container2 {
    padding: 20px 20px;
}

.login-logo {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #55a155;
    padding: 20px;
}

.login-logo img {
    max-width: 250px;
    height: auto;
}

::placeholder {
    font-family: 'Hind Siliguri', sans-serif !important;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.login-form .password-container {
    position: relative;
}

.login-form input[type="password"] {
    padding-right: 40px;
}

.show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    font-family: 'Hind Siliguri', sans-serif !important;
}

.login-form button[type="submit"] {
    width: 100%;
    font-size: 18px;
    padding: 12px;
    margin-top: 10px;
    background-color: #55a155;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button[type="submit"]:hover {
    background-color: #3c763d;
}

.forgot-password,
.register-link {
    color: #55a155 !important;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    font-size: 15px;
}

.d-flex a:hover {
    color: #55a155;
}

.note-ar {
    border-radius: 7px;
    padding: 20px;
    background-color: #CAF4B9;
    border-top: 4px solid #55a155;
    margin-bottom: 20px;
}

.noticear {
    font-size: 13px;
    color: #000000c4;
    font-weight: 600;
}

.custom-note {
    border-radius: 7px;
    padding: 20px;
    background-color: #ff91915c;
    border-top: 4px solid #55a155;
    margin-bottom: 20px;
}

.custom-notice {
    font-size: 13px;
    color: #000000c4;
    font-weight: 600;
}

@media (max-width: 991.98px) {
    .login-container {
        padding: 0 20px;
    }

    .down-container {
        padding: 20px;
    }
}

@media (max-width: 767.98px) {
    .login-container {
        border: 2px solid #55a155;
        margin-top: 20px;
        padding: 20px 20px;
        margin: 10px 0px;
    }

    .down-container {
        padding: 15px;
    }

    .login-logo img {
        max-width: 80%;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        margin: 10px 0;
        padding: 8px;
    }

    .login-form button[type="submit"] {
        font-size: 16px;
        padding: 10px;
    }

    .forgot-password,
    .register-link {
        font-size: 14px;
    }

    .note-ar,
    .custom-note {
        padding: 20px;
        border-top: 0px solid #55a155;
        margin-bottom: 10px;
    }

    .note-ar p,
    .custom-note p {
        font-size: 12px;
    }
}

@media (max-width: 575.98px) {
    .login-container {
        padding: 5px;
        border: 2px solid #55a155;
        margin: 10px 0px;
    }

    .heightpage {
        min-height: 90vh;
    }

    .down-container {
        padding: 15px;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        margin: 8px 0;
        padding: 10px;
    }

    .login-form button[type="submit"] {
        font-size: 14px;
        padding: 14px;
    }

    .forgot-password,
    .register-link {
        font-size: 14px;
    }

    .note-ar,
    .custom-note {
        padding: 15px;
        border-top: 0px solid #55a155;
        margin-bottom: 10px;
    }

    .note-ar p,
    .custom-note p {
        font-size: 12px;
    }
}
